debug=false
url_prefix=/api
secret_key=postgres
database_url=postgresql://postgres:postgres@localhost:5432/postgres
# Chat Share Secret Key 
CHAT_SHARE_SECRET_KEY=put-your-secret-key-here
CHAT_SHARE_SALT=put-your-encode-salt-here



TRACEROOT_TOKEN=your_traceroot_token_here

TRACEROOT_SERVICE_NAME=eigent

TRACEROOT_GITHUB_OWNER=eigent

TRACEROOT_GITHUB_REPO_NAME=eigent-ai

TRACEROOT_GITHUB_COMMIT_HASH=main

TRACEROOT_ENABLE_SPAN_CLOUD_EXPORT=true

TRACEROOT_ENABLE_LOG_CLOUD_EXPORT=true

TRACEROOT_ENABLE_SPAN_CONSOLE_EXPORT=false

TRACEROOT_ENABLE_LOG_CONSOLE_EXPORT=true

TRACEROOT_TRACER_VERBOSE=false

TRACEROOT_LOGGER_VERBOSE=false